﻿<div>
    <table>
        <tr>
            <td>
                <input type="text" id="phrase" style="width: 325px" />
            </td>
            <td>
                <button id="search">Search</button>
            </td>
            <td>
                <div id="progressbar"></div>
            </td>
            <td width="30">
                <img id="loading" src="~/Images/loading.gif" />
            </td>
        </tr>
    </table>
    
    <div id="Result">
        <table id="Results" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
            </thead>
        </table>
    </div>
</div>